body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
}

#main-nav.navbar-default {
background: #FFFFFF;
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {background: #F44336;color: #FFFFFF;}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: #FFFFFF;
 
background: transparent;
}
.navbar-default .navbar-nav>li>a{
color: #FFFFFF;
}
 
#main-nav.navbar-default {
background: #343434;
}
@media only screen and (min-width: 768px) {
  #main-nav.navbar-default {
    background: #343434;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 36px;
  
}
  
  #main-nav.navbar-default .navbar-nav > li.active > a,
  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
	color: #fff;
}
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }

  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}



#contact-us {
  padding: 50px 0 10px;
}
#contact-us h1,
#contact-us h2 {
}
/*Contact*/
 .contact-info{
 padding:60px 0;
 }
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control { 
padding: 6px 12px;
border-radius: 0;
}
 .business-stats:before {
content: '';
margin: 17px;
display: block;
border: currentcolor;
height: 100px;
border-radius: 50%;
position: absolute;
width: 100px;
}

#features h2, #portfolio p{ color: #4A4A4A;}
#features {
  padding: 140px 0;
  background: #FFFFFF;
  color: #000;
}

#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 140px 0 75px;
}
